@import "tailwindcss";

:root {
  --background: #f9f9f9;
  --foreground: #595f65;
  --card-background: #f9f9f9;
  --card-foreground: #595f65;
  --border: #eeeeee;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --card-background: #0a0a0a;
  --card-foreground: #ffffff;
  --border: #eeeeee;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .container {
    @apply mx-auto min-w-screen;
  }

  .container-wrapper {
    @apply mx-auto px-4 max-w-screen-md min-w-64;
  }
}
